<html lang='ko'>

<head>
  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <link rel='stylesheet' href='/css/main.css' />
  <title>메인 폼</title>
</head>

<body>

  <!-- MainForm -->
  <div class='top'>
    <div class='mainArea'>
      <div>
        <h1 id='clock'>clock</h1>
      </div>
      <!-- todoList -->
      <div class='todoList'>
        <div class='input_Area'>
          <form action='/index.do' method='post'>
            <input name='listData' type='text' id='headtxtBox' autofocus="autofocus" />
            <button class='headAddBtn'>+</button>
          </form>
        </div>
        <!-- todoList_Form -->
        <div class='list_Area'>
          {{#each data}}
          <div class='toDo_List'>
            <div class='inputListBox'>
              {{#if status}} 
              <input type='checkbox' id="{{todoId}}" class='chk' checked="checked"/>
              {{else}}
              <input type='checkbox' id="{{todoId}}" class='chk'/>
              {{/if}}             
              <span class='lb_Text'>{{listData}}</span>
              <button type="button" class='deleteBtn' onclick='location.href="deleteTodo?id={{todoId}}"'>X</button>
            </div>
            <div class='numberBox'>
              <button type="button" class='countBtn minusBtn' onclick='location.href="updateDownTodo?id={{todoId}}&count={{count}}"'>-</button>
              <input class='numCount' type='number' value='{{count}}' max='20' min='0' />
              <button type="button" class='countBtn plusBtn' onclick='location.href="updateUpTodo?id={{todoId}}&count={{count}}"'>+</button>
            </div>
          </div>
          {{/each}}
        </div>
        <!-- todoList_end -->
      </div>
      <div class='kgBtnRecord'>
        <div>
          <button class='recordBtn home'>
            <a href='/'>홈</a>
          </button>
        </div>
        <div>
          <button class='recordBtn foodRecord'>
            <a href='/meal'>식단기록</a>
          </button>
        </div>
        <div>
          <button class='recordBtn chartRecode'><a href="/weight.html">체중 기록</a></button>
        </div>
        <div>
          <button class='recordBtn chartRecode'><a href="/login.html">로그인</a></button>
        </div>
      </div>
    </div>
</body>
<script src='http://code.jquery.com/jquery-latest.min.js'></script>
<script src='/js/main.js'></script>
<script type="text/javascript">
  const dataId = document.querySelector(".deleteBtn").value;
    function f_link(){
        location.href = `localhost:3000?id=${dataId}`;
        console.log(dataId);
    }
</script>
<script src='/js/todolist.js'></script>
<script>
$(".chk").click(function () {
   let checkedId = $(this).attr("id");
   let chkStatus = document.getElementById(checkedId).checked;
  location.href=`statusTodo?id=${checkedId}&status=${chkStatus}`;
});
</script>
</html>